.card {
    height: 60vh;
    margin: 25px;
    padding: 25px;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center ;
}
h4,h6{
    font-weight: 400;

}
.center img{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
}
.card-table{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}
.center .btn{
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
}
/* Form Container */
form {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Form Headings */
  h2 {
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #444;
    font-weight: bold;
    align-items: center;
  }
  
  /* Form Group */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Form Label */
  label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
  }
  
  /* Form Input */
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #444;
  }
  
  /* Form Button */
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #2980b9;
  }
.main{
    margin-top: 40px;
    width: 100%;
}  
.billing{
    float:none; 
    padding: 20px;
    width: 100%;
    margin-bottom: 40px;
}
